html { 
    height: 100%; 
    margin: 0;
    padding: 0;
}
body {
    min-height:100%; 
    position:relative; 
    padding-bottom:60px;

}
.jumbotron {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.footer { 
  position: fixed;
  display: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #212529; /*#343a40;*/
  color: white;
}
.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
}
.vertical {
    border-right: 5px solid #343a40;
    
}
table.auto {
    table-layout: auto;
}
thead {
    border-top:none;
}
.h5 {
    display: inline-block;
}
.card {
    margin-top: 0px;
    margin-bottom: 15px;
    padding-bottom: 0px;
    border-radius: 5px !important;
    border: 1px solid white !important;
    position:relative;
}
.card-heading {
    padding-top: 15px;
    padding-bottom: 20px;
    
}
.card-block {
    margin: 0px;
    padding: 0px;
    border: none;/*#868e96;*/
}
.table-responsive {
    position: static !important;
}
@media (max-width: 767px) {
  .table-responsive .dropdown-menu,
  .table-responsive .dropdown-toggle {
        position: static !important;
  }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
.dropdown-menu {
    position: static;
}
#redaguoti{
    font-size: 20px;
    padding: 0px !important; 
    margin: 0px !important; 
    margin-right: 15px !important;
    margin-left: 10px !important; 
}
#trinti{
    font-size: 20px;
    padding: 0px !important; 
    margin: 0px !important; 
    width:0px!important;
    margin-right: 30px !important;
    background-color: transparent;
}
#trinti:hover {
    color: #d7575a;
    border-bottom: 1px solid #d7575a;
}
table {
    font-size: 12px;
    margin-bottom: 20px !important;
    padding-bottom: 0px !important;
    margin-top: 50px !important;
    border: none !important;
    table-layout: auto !important;
    width: 100% !important;
}
td, th {
    vertical-align: middle !important;
    word-wrap:wrap !important;
    
}
td {
    margin: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
tfoot {
    padding-bottom: 0px;
}
.page-link {
    position: static !important; 
}
.btn {
    border-radius: 0px !important;
}
/*.select2{

    padding: .27rem .75rem !important; 
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    margin-bottom: 50px!important;
    border: 1px solid #ced4da !important;
    font: inherit;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}*/
.form-control {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    color: #495057 !important;
    border: 1px solid #ced4da !important;
}
.select2-container {
    margin-bottom: 25px!important;
    color: #495057 !important;
    padding: 0px !important;
    padding: .375rem .75rem;
}
.btn-sm {
    font-size: 6px !important;
}
.row.display-flex {
    display: flex;
    flex-wrap:3 wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.select2-selection{
    padding:4px !important;
    font-size: 1rem;
}
.breadcrumb {
    margin-top:25px;
    margin-bottom: 15px !important;
}
#menu {
    position: relative !important;
    display: flex !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff;
    background-clip: border-box !important;
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: .25rem !important;
    margin-top: 20px;
}
.btn-disabled {
    pointer-events:none;
}
.btn-danger {
    color: #fff;
    background-color: #d40020 !important;
    border-color: #d40020 !important;
}
.row {
    height: 55px;
}
.outer
{
    height: 600px;
    position: relative;
    /*border: 1px solid red;*/
}
.inner
{
    position: absolute;
    /*border: 1px solid blue;*/
}
#pastatai_table, #patalpos_table, #pertvaros_table {
    border: none;
}
.dataTables_wrapper .dataTables_filter input {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}
select {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}

element.style {
    width: 0px !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 8px 10px;
}
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: content-box;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
td {
    margin: 0px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
td, th {
    vertical-align: middle !important;
    word-wrap: wrap !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
table.dataTable {
    border-collapse: collapse !important;
}
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: border-box !important;
}
.dataTables_wrapper .dataTables_filter {
    padding: 0px;
}
.dataTables_wrapper .dataTables_length {

    margin-bottom: 10px;
}
.dataTables_wrapper .dataTables_filter input {
    width: 400px !important;
}
#ex {
    color:white; 
    font-size:20px;
    padding: 30px;
    margin:0px;
}
#ex:hover {
    color:#d7575a;
    background-color: rgb(255, 255, 255);
}


